.post{
  width: 100%;
  border-radius: 10px;
  box-shadow: 0px 3px 36px 0px rgba(0,0,0,0.1);
  margin: 30px 0;
}

.postWrapper{
  padding: 10px;

  >.postTop{
    display: flex;
    align-items: center;
    justify-content: space-between;
  
    >.postTopLeft{
      display: flex;
      align-items: center;

      >.postProfileImg{
        width: 32px;
        height: 32px;
        border-radius: 50%;
        object-fit: cover;
      }

      >.postUsername{
        font-size: 15px;
        font-weight: 500;
        margin: 0 10px;
      }

      >.postDate{
        font-size: 12px;
      }
    }
  }
}

.postCenter{
  margin: 10px 0px;

  >.postImg{
    margin-top: 20px;
    width: 100%;
    max-height: 500px;
    object-fit: contain;
  }
}

.postBottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: 1px solid red; */

  >.postBottomLeft{
    display: flex;
    align-items: center;
    justify-content: center;

    >.likeIcon{
      width: 26px;
      height: 26px;
      margin-right: 5px;
      cursor: pointer;
    }

    >.postLikeCounter{
      font-size: 14px;
    }
  }
}

.postBottomRight{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;

  >.postCommentText{
    font-size: 14px;
    border-bottom: 1px dashed grey;
  }
}


