.sidebar {
  flex: 1;
  height: calc(100vh - 50px);

  > .sidebarWrapper {
    padding: 20px;

    > .sidebarList {
      padding: 0;
      margin: 0;
      list-style: none;

      > .sidebarListItem {
        display: flex;
        align-items: center;
        margin-bottom: 20px;

        > .sidebarIcon {
          margin-right: 15px;
        }
      }
    }
  }
}

.sidebarButton {
  width: 150px;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-weight: 500;
}

.sidebarHr {
  margin: 20px 0px;
}

.sidebarFriendList {
  padding: 0;
  margin: 0;
  list-style: none;
  height: 40vh;
  overflow-y: scroll;

  > .sidebarFriend {
    display: flex;
    align-items: center;
    margin-bottom: 15px;

    > .sidebarFriendImg {
      width: 42px;
      height: 42px;
      border-radius: 50%;
      object-fit: cover;
      margin-right: 10px;
    }
  }
}

/* Scroll-Bar Designing */
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  /* background-color: aliceblue; */
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.1);
}
