.sidebar{
  flex: 1.6;
  height: calc(100vh - 50px);
  position: sticky;
  top: 50px;

  >.sidebarWrapper{
    padding: 20px;
    

    >.sidebarList{
      padding: 0;
      margin: 0;
      list-style: none;
    
      >.sidebarListItem{
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        cursor: pointer;


        >.sidebarIcon{
          margin-right: 15px;
        }
      }
    }
  }
}

.sidebarListItem:hover{
  opacity: 0.7;
  color:  #3346ed ;
}

.sidebarButton{
  width: 150px;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-weight: 500;
}

.sidebarHr{
  margin: 20px 0px;
}

.sidebarFriendList{
  padding: 0;
  margin: 0;
  list-style: none;
  height: 30vh;
  overflow-y: scroll;
}


/* Scroll-Bar Designing */
::-webkit-scrollbar {
  width: 4px;
}  

::-webkit-scrollbar-track{
  /* background-color: aliceblue; */
}   

::-webkit-scrollbar-thumb{
  background-color: rgba(0, 0, 0, 0.1);
}   

